<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Profile Page</title>
</head>

<body>

<h5 class="text-center">Profile Page</h5>
<div class="d-flex justify-content-center mt-4" style="font-size:40px;">
	<i class="fa-sharp fa-regular fa-user"></i>	
</div>

<%= @profile.bio %>
<%= @profile.linkedin %>

</body>
</html>