<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Profile Page</title>
</head>

<body>

<h5 class="text-center">Profile Page</h5>
<div class="d-flex justify-content-center mt-4" style="font-size:40px;">
	<i class="fa-sharp fa-regular fa-user"></i>	
</div>

<br>
<p class="text-center"> <strong>
	Bio
</strong></p>
<p class="text-center"> 
	<%= @profile.bio %>	
	<% if @profile.bio.present? == false %>
		<p class="italic text-center">No bio added</p>
	<% end %>
</p>

<p class="text-center">  <strong>
	Linkedin
</strong></p>
<p class="text-center"> 
	<%= @profile.linkedin %>
	<% if @profile.linkedin.present? == false %>
		<p class="italic text-center">No linkedin added</p>
	<% end %>		
</p>

<% if @profile.user_id == current_user.id %>

	<div class="d-flex justify-content-center">
		<%= link_to "Edit Profile", edit_profile_path(@profile.user_id), class: "btn-white btn border-light" %>
	</div>
<% end %>

</body>
</html>