<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome to Graduate Flow!</title>
</head>
<body style="font-family: 'Poppins', sans-serif;">
  <h4 style="text-align: center; font-family: 'Poppins', sans-serif;">Welcome to Graduate Flow</h4> 
  <p style="text-align: center;">
    Stay up to date with all things related to finance jobs in Europe and the UK!
  </p>
  <div style="text-align: center;">
    <!-- Add your logo here -->
    <img src="https://www.graduateflow.com/assets/logo-5fc0a1bf339edda6a5fa1299881fd54972e8f92949af6292440731da3e039e41.png" alt="Logo" style="max-width: 200px;">
    <!-- Social Media Links -->
    <div class="d-flex" style="display: flex; justify-content: center;">
      <div style="text-align: center;">
        <a href="https://instagram.com/graduateflow" target="_blank" style="text-decoration: none;">
          <button style="padding: 10px 20px; margin: 10px; background-color: rgb(35, 180, 205); color: white; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;">Follow us on Instagram</button>
        </a>
        <a href="https://www.linkedin.com/company/graduate-flow/" target="_blank" style="text-decoration: none;">
          <button style="padding: 10px 20px; margin: 10px; background-color: rgb(35, 180, 205); color: white; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;">Connect with us on LinkedIn</button>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
