<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome!</title>
</head>
<body style="font-family: 'Poppins', sans-serif;">
  <h4 style="text-align: center; font-family: 'Poppins', sans-serif;">Welcome to Graduate Flow</h4> 
  <p style="text-align: center;">
    Stay up to date with all things related to finance jobs in Europe and the UK!
  </p>
  <div style="text-align: center;">
    <!-- Add your logo here -->

        <img src="https://www.graduateflow.com/assets/logo-5fc0a1bf339edda6a5fa1299881fd54972e8f92949af6292440731da3e039e41.png" alt="Logo" style="max-width: 200px;">

    <!-- Add three buttons linking to the Instagram page -->

    <div class="d-flex">
      <a href="https://instagram.com/graduateflow" target="_blank" style="text-decoration: none;">
      <button style="padding: 10px 20px; margin: 10px; background-color: rgb(35, 180, 205); color: white; border: none; border-radius: 5px; font-size: 16px;">Instagram</button>
      </a>
      <a href="https://instagram.com/graduateflow" target="_blank" style="text-decoration: none;">
        <button style="padding: 10px 20px; margin: 10px; background-color: rgb(35, 180, 205); color: white; border: none; border-radius: 5px; font-size: 16px;">Whatsapp Group</button>
      </a>  
      <a href="https://linkedin.com/in/graduateflow" target="_blank" style="text-decoration: none;">
        <button style="padding: 10px 20px; margin: 10px; background-color: rgb(35, 180, 205); color: white; border: none; border-radius: 5px; font-size: 16px;">Linkedin</button>
      </a>
      
    </div>
    
  </div>
</body>
</html>
