<hr>
<div class="container" style="margin-top: -20px;">
	
<div class="d-flex justify-content-around">
	
	<i class="fa-brands fa-whatsapp f-big"></i>	
	<i class="fa-brands fa-telegram f-big"></i>
	<i class="fa-brands fa-linkedin" style="font-size:30px;"></i>
</div>

</div>

<style type="text/css">
	.f-big{
		font-size: 30px;
	}
</style>


<%= link_to "Log out", destroy_user_session_path, class: 'no-deco' %>