<hr>
<div class="container" style="margin-top: -20px;">
	
<div class="d-flex justify-content-around">
	
	

	<%= link_to 'https://chat.whatsapp.com/LfCmhGNOvw86hkVJ5JGUrK', style: "max-height:40px;", target: "_blank" do %>   
<i class="fa-brands fa-whatsapp f-big" style="color:black;"></i><% end %> 

<%= link_to 'https://t.me/+q0_Cgf4wFlk2MTI0', style: "max-height:40px;", target: "_blank"  do %>   
<i class="fa-brands fa-telegram" style="font-size:30px; color:black;"></i> <% end %> 
	
	<!--<a href="https://instagram.com/graduateflow" target="_blank">
		<i class="fa-brands fa-instagram" style="font-size:30px; color: black;"></i>
	</a>-->
	<a href="https://www.linkedin.com/company/graduate-flow/" target="_blank">
		<i class="fa-brands fa-linkedin" style="font-size:30px; color: black;"></i>
	</a>
	
</div>

</div>

<style type="text/css">
	.f-big{
		font-size: 30px;
	}
</style>

<% if user_signed_in? %>
	<%= link_to "Log out", destroy_user_session_path, class: 'no-deco' %>
<% end %>

<a href="mailto:contact@graduateflow.com" class="text-center mt-3" style="font-size: 18px; color: black; text-decoration: none; display: block;">
  <i class="fa-solid fa-envelope"></i> contact@graduateflow.com
</a>


