<hr>
<div class="container" style="margin-top: -20px;">
	
<p class="text-center">stay in touch with our community through our social media or through our active community groups on <span style="font-weight:bold;">whatsapp/telegram</span></p>
<div class="d-flex justify-content-around">
	<i class="fa-brands fa-instagram f-big"></i>
	<i class="fa-brands fa-youtube f-big"></i>
	<i class="fa-brands fa-tiktok f-big"></i>
	<i class="fa-brands fa-whatsapp f-big"></i>	
	<i class="fa-brands fa-telegram f-big"></i>
</div>

</div>

<style type="text/css">
	.f-big{
		font-size: 30px;
	}
</style>