
<h1 class="c_txt no-style">
<%= link_to "PROXIMA CAREERS", root_path, class: "no-style" %>
</h1>
<div class="sub-header">
<p>How to Really Find a Job within Finance and Consulting</p>
</div>
<nav>
<ul>
  <li>
    <%= link_to "CV", cv_path %>  
  </li>
  <li>
    <%= link_to "Interviews", interview_path %>
  </li>
  <li>
    <%= link_to "UK Finance Jobs", ukfinancejobs_path %>
  </li>
  <li><a href="">Networking</a></li>
  <li><a href="">About Us</a></li>
</ul>
</nav>