<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Us - Proxima</title>
</head>
<body>

<h3>
	About Us
</h3>

<p>
	An organisation that helps students break into the finance industry in Europe and the UK.
</p>

<p class="text-center" style="font-size:20px;">
	<i class="fa-solid fa-envelope"></i> contact@graduateflow.com
</p>

</body>
</html>