<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Us - Proxima</title>
</head>
<body>

<h3>
	About Us
</h3>

<p>
	An organisation that helps students break into the finance industry in Europe and the UK.
</p>

<p>
	Top tier universities have career departments which make their students aware of a lot of early-starter opportunities, which can be life changing and make the future job search a lot easier. We aim to do the same for university students who do not have such career departments.
</p>
</body>
</html>