<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Us - Proxima</title>
</head>
<body>

<h3>
	About Us
</h3>

<p>
	An organisation that helps students break into the finance industry in Europe and the UK.
</p>

<p>
	We offer expert advise from professionals that are currently in top tier finance jobs.
</p>

<p>
	Everybody who is involved with this platform currenly works in tier 1 finance firms.
</p>
</body>
</html>