<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<%= render :partial => 'header' %> 
	<div class="container">
	<hr>
	<h4 class="sub-header-side">CV template</h4>
	<%= link_to 'Download File', download_file_path(filename: 'cv.pages') %>
	<h4 class="sub-header-side">Use chat GPT to create your CV</h4>
	<p>
  
	</div>
</body>
</html>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>