<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% content_for :title, 'Dorsia Recruiting - Find a Job in Finance and Consulting' %>
  <% content_for :description, 'Discover how to really find a job within finance and consulting. Dorsia Recruiting offers CV tips, interview guidance, networking strategies, and more.' %>

  <title>Dorsia Recruiting</title>
  <style>
    
  </style>
</head>


<div class="container">
<body>
	<%= render :partial => 'header' %> 
<div class="image-container">
  <div class="text-container">
    <p>Discover Your Career Path in Finance and Consulting</p>
  </div>
</div>


  </div>
</body>
</html>