<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% content_for :title, 'Dorsia Recruiting - Find a Job in Finance and Consulting' %>
  <% content_for :description, 'Discover how to really find a job within finance and consulting. Dorsia Recruiting offers CV tips, interview guidance, networking strategies, and more.' %>

  <title>Dorsia Recruiting</title>
  <style>
    
  </style>
</head>

<!--
<div class="container">
<body> 
<div class="image-container">
  <div class="text-container">
    <p>Discover Your Career Path in Finance and Consulting</p>
  </div>
</div>
-->
<div class="d-flex justify-content-center">
  <p>
  <%= link_to 'Subscribe To Mailing List', new_mailform_path, class: 'btn btn-dark ' %>
  to make sure you don't miss out on <strong> important news & application deadlines!</strong>
  </p>  
</div>

  </div>
</body>
</html>